* {
    font-family: 'Ubuntu';
    font-style: normal;
    margin-block-start: 0;
    margin-block-end: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.main {
    background-image: url("../image/background2.png");
    background-size: cover;
    height: 100vh;
}

.header {
    height: 58px;
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 79px;
    padding-right: 79px;
}

.title {
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    text-transform: uppercase;
}

.title:hover {
    color: #01813F;
}

.white-text {
    color: #FFFFFF;
}

.welcome {
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
}

.welcome::before {
    border-left: solid 2px rgba(255, 255, 255, 0.9);
    content: "";
    opacity: 0.5;
    padding-right: 25px;
}

.icon-block {
    display: flex;
    align-items: center;
}

.icon {
    margin-right: 25px;
}
.icon:hover {
    fill: green;
}
.container {
    height: 100%;
    position: relative;
}

.form {
    width: 444px;
    height: 584px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
    position: absolute;
    top: calc(50% - 584px / 2);
    right: calc(50% - 444px / 2);
}

.form-container {
    width: 324px;
    margin: 0 auto;
}

.form-header {
    display: flex;
    justify-content: space-between;
    padding-top: 31px;
    margin-bottom: 15px;

}

.sign-up {
    font-size: 20px;
    line-height: 20px;
    font-weight: 400;
    color: #434343;
    position: relative;
}

.sign-up::before {
    content: "";
    width: 18px;
    height: 18px;
    background: #3CB878;
    position: absolute;
    left: -60px;
}

.log-in {
    color: #3CB878;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
}

.log-in:hover {
    color: #01813F;
    text-decoration: underline;
}

.welcome-hover:hover {
    color: #01813F;
}

.social-networks {
    display: flex;
    justify-content: space-between;
}
.facebook {
    background-color: #305DB8;
}
.facebook:hover {
    background-color: #022263;
}
.google {
    background-color: #DF4A32;
}
.google:hover {
  background-color: #AB1F09;
}
.social-network-block {
    width: 160px;
    height: 48px;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
}

.or {
    text-align: center;
    color: #848484;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    margin-top: 31px;
    margin-bottom: 12px;
    display: flex;
    align-items: center;
}

.or::before {
    width: 152px;
    border-bottom: 2px solid #F2F2F2;
    content: "";
    height: 1px;
    display: inline-block;
    margin-right: 2px;
}

.or::after {
    height: 1px;
    width: 152px;
    border-bottom: 2px solid #F2F2F2;
    content: "";
    display: inline-block;
    margin-left: 2px;
}

.input {
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #434343;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    width: 324px;
    height: 44px;
    margin-bottom: 16px;
    outline: none;
    padding-left: 20px;
}

input:focus {
    background: #FFFFFF;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
    border-radius: 4px;
}
.checkbox {
    cursor: pointer;
}
.agree {
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #434343;
    display: inline-block;
}

.button {
    width: 324px;
    height: 46px;
    background-color: #3CB878;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    background: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
    border: none;
    margin-top: 20px;
    cursor: pointer;
}
.button:hover {
    background-color:  #01813F;
}
::placeholder {
   color: #BEBEBE
}